/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    font-size: 62,5%;
}